* {
    font-family: Arial, Helvetica, sans-serif;
}

#bg {
    height: 100vh;
    width: 100vw;
    background-image: url("https://cdn.jsdelivr.net/gh/NjbSyd/webtechA3@main/bg.svg");
    opacity: 0.0;
    z-index: -1;
    position: absolute;
}

.txt {
    color: white;
    text-shadow: 1px 1px 2px rgb(202, 136, 14);
}

.fg {
    z-index: 1;
    position: fixed;
}

#main {
    opacity: 0;
    border: 1px solid khaki;
    width: 40vw;
    margin-top: 0;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.btn {
    width: 100%;
    font-size: larger;
}

.btn-warning {
    background-color: rgb(221, 221, 82);
    border-color: rgb(221, 221, 82);
}

.btn-danger {
    background-color: rgb(238, 61, 61);
}

.bg-html {
    background-color: #f06529;
    border: 1px solid #ff4d00;
}

.bg-css {
    background-color: #66d3fa;
    border: 1px solid #00bbff;
}

.bg-js {
    background-color: #f0db4f;
    border: 1px solid #ffdd00;
}

.bg-jq {
    background-color: #131b28;
    border: 1px solid #000e24;
}

.bg-bs {
    background-color: #553c7b;
    border: 1px solid #33017e;
}

.linkNodesign {
    color: black;
    text-decoration: none;
}